@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Manrope:wght@400;500;600;700;800&display=swap');

@theme {
  --color-outline: #64759c;
  --color-outline-variant: #36476c;
  --color-primary-dim: #4ba1ff;
  --color-tertiary-dim: #d18aef;
  --color-on-secondary-fixed-variant: #024cab;
  --color-surface-variant: #012455;
  --color-on-primary-container: #002345;
  --color-inverse-primary: #0060ac;
  --color-inverse-surface: #faf9ff;
  --color-surface-tint: #73b1ff;
  --color-on-tertiary-container: #520c71;
  --color-on-primary-fixed-variant: #002d55;
  --color-on-primary: #002f59;
  --color-on-primary-fixed: #000000;
  --color-error: #ff716c;
  --color-surface-container: #00183e;
  --color-surface-bright: #052a5f;
  --color-tertiary-fixed: #df97fe;
  --color-secondary-fixed: #c0d1ff;
  --color-secondary-container: #074ead;
  --color-secondary-fixed-dim: #aac3ff;
  --color-tertiary-container: #df97fe;
  --color-surface-container-highest: #012455;
  --color-surface-container-high: #001e4a;
  --color-inverse-on-surface: #44557a;
  --color-error-container: #9f0519;
  --color-secondary-dim: #6c9cff;
  --color-on-background: #dde5ff;
  --color-tertiary: #e7abff;
  --color-on-secondary: #001e4c;
  --color-primary-fixed: #53a3ff;
  --color-primary: #73b1ff;
  --color-surface-container-low: #001232;
  --color-error-dim: #d7383b;
  --color-on-secondary-container: #dae3ff;
  --color-on-tertiary-fixed: #310046;
  --color-primary-container: #53a3ff;
  --color-surface-container-lowest: #000000;
  --color-surface-dim: #000d28;
  --color-on-surface-variant: #9aabd5;
  --color-background: #000d28;
  --color-on-error: #490006;
  --color-surface: #000d28;
  --color-primary-fixed-dim: #2396ff;
  --color-on-tertiary: #5d1b7c;
  --color-on-surface: #dde5ff;
  --color-tertiary-fixed-dim: #d18aef;
  --color-on-error-container: #ffa8a3;
  --color-on-tertiary-fixed-variant: #5c197b;
  --color-secondary: #6c9cff;
  --color-on-secondary-fixed: #003174;

  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;
  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-on-surface);
  min-height: max(884px, 100dvh);
}
